@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


:root{
   --yellow:#fed330;
   --red:#e74c3c;
   --white:#fff;
   --black:#222;
   --light-color:#777;
   --border:.2rem solid var(--black);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear;
}

*::selection{
   background-color: var(--yellow);
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: black;
}

::-webkit-scrollbar-thumb{
   background-color: var(--yellow);
   border-radius: 5rem;
}

section{
  
   margin:0 0.5rem;
   padding:2rem;
}

.delete-btn,
.btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1.3rem 3rem;
   cursor: pointer;
   font-size: 2rem;
   text-transform: capitalize;
}

.delete-btn{
   background-color: var(--red);
   color:var(--white);
}

.btn{
   background-color:#27ae60;
   color:var(--black);
}

.delete-btn:hover,
.btn:hover{
   letter-spacing: .2rem;
}

.title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}
.title span{
   color: #ff0157;
}
.message{
   position: sticky;
   top:0;
  
   margin:0 auto;
   padding:2rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   background-color: var(--yellow);
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   color:var(--black);
}

.empty{
   border:var(--border);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--red);
}

.heading{
   background-color: var(--black);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;;
   flex-flow: column;
   min-height: 7rem;
   border-bottom-style: dotted;
   border-color: yellow;
   

}

.heading h3{
   font-size: 4rem;
   color:var(--white);
   text-transform: capitalize;
}
.heading h3 span{ 
   color: #ff0157;
}

.heading p a{
   font-size: 2rem;
   color:var(--yellow);
   text-align: left;
}

.heading p span{
   font-size: 2rem;
   color:var(--light-color);
}

.heading p a:hover{
   color:var(--white);
}

.header{
   position: sticky;
   top:0; left:0; right: 0;
   width: 100%;
   
   z-index: 1000;
   border-bottom: var(--border);
   background-color:#000080;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 0;
}

.header .flex .logo{
   font-size: 2.5rem;
   
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.5rem;
   color:var(--white);
   margin: 0 1rem;
   font-style: oblique;
   font-weight: bolder;
   font-family: 'poppins' sans-serif;
   padding: 0 9px;

}

.header .flex .navbar a:hover{
   color:yellow;
   text-decoration: underline;
   text-underline-offset: 1rem;
   transition: 0.3s;
}




.header .flex .icons > *{
   font-size: 2.5rem;
   color:var(--yellow);
   margin-left: 1.7rem;
   cursor: pointer;
   padding-left: 0.5rem;
}

.header .flex .icons > *:hover{
   color:var(--white);
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

.header .flex .profile{
   width: 30rem;
   position: absolute;
   top:120%; right: 2rem;
   background-color: var(--white);
   border:var(--border);
   padding:1.5rem;
   text-align: center;
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .profile.active{
   display: inline-block;
}


.header .flex .profile .name{
   font-size: 1.7rem;
   margin-bottom: .5rem;
}

.header .flex .profile .account{
   font-size: 1.7rem;
   color:var(--light-color);
   margin-top: 1.5rem;
}

.header .flex .profile .account a{
   color:var(--black);
   text-decoration: underline;
}

.header .flex .profile .account a:hover{
   color:var(--black);
}

.hero .slide{
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   gap:2rem;
   margin-bottom: 4rem;
}

.hero .slide .image{
   flex:1 1 40rem;
}

.hero .slide .image img{
   width: 100%;
}

.hero .slide .content{
   flex:1 1 40rem;
   text-align: center;
}

.hero .slide .content span{
   font-size: 2.5rem;
   color:var(--light-color);
}

.hero .slide .content h3{
   margin:1rem 0;
   font-size: 6rem;
   color:var(--black);
   text-transform: capitalize;
}

.swiper-pagination-bullet-active{
   background-color: var(--yellow);
}

#menu-btn{
   display: none;
}
.home{
   background-image: url(../images/home-bg.png);
   background-size: cover;
   
}
.home .slide{
   display: flex;
   flex-wrap: wrap-reverse;
   gap:1.5rem;
   align-items: center;
   margin-bottom: 4rem;
}

.home .slide .content{
   flex:1 1 40rem;
   text-align: center;
}

.home .slide .image{
   flex:1 1 40rem;
}

.home .slide .image img{
   width: 70%;
}
.home .slide .content h1{
   font-size: 2.5rem;
   color:lightslategray;
}
.home .slide .content span{
   font-size: 2.5rem;
   color:#ff0157;
}

.home .slide .content h3{
   font-size: 5rem;
   text-transform: capitalize;
   color:var(--black);
   padding:1rem 0;
}

.swiper-pagination-bullet-active{
   background-color:#27ae60;
}


.category .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
   
}

.category .box-container .box{
   border:var(--border);
   padding:2rem;
   text-align: center;
   
}

.category .box-container .box img{
   width: 100%;
   height: 10rem;
   object-fit: contain;
}
.category .box-container .box img:hover{
   transform: rotate(360deg);
}

.category .box-container .box h3{
   margin-top: 2rem;
   font-size: 2rem;
   color:blue;
}

.category .box-container .box:hover{
   background-color:aqua;
}

.category .box-container .box:hover img{
   transition: 500ms all;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -ms-transition: 500ms all;
}

.category .box-container .box:hover h3{
   color:var(--white);
}
.products{
   background-image: url(../images/home-bg.jpg);
   background-size: cover;
   
}
.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   justify-content: center;
   align-items: flex-start;
   gap:1.5rem;
}

.products .box-container .box{
   position: relative;
   border:var(--border);
   padding:1.5rem;
   overflow: hidden;
   background-color: lightblue;
   
  
}

.products .box-container .box .fa-eye,
.products .box-container .box .fa-shopping-cart{
   position: absolute;
   top:1rem;
   display: block;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.3rem;
   font-size: 2rem;
   border:var(--border);
   background-color: var(--white);
   cursor: pointer;
   color:var(--black);
   text-align: center;
}

.products .box-container .box .fa-eye{
   left: -10rem;
}

.products .box-container .box .fa-shopping-cart{
   right: -10rem;
}

.products .box-container .box:hover .fa-eye{
   left: 1rem;
}

.products .box-container .box:hover .fa-shopping-cart{
   right: 1rem;
}

.products .box-container .box .fa-eye:hover,
.products .box-container .box .fa-shopping-cart:hover{
   background-color: var(--black);
   color:var(--white);
}

.products .box-container .box img{
   height: 25rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: 1rem;
   
   
  
  
}
.products .box-container .box img:hover{
   transform: scale( .5);
}
.products .box-container .box .cat{
   font-size: 1.7rem;
   color:blue;
}

.products .box-container .box .cat:hover{
   color: var(--yellow);
   text-decoration: underline;
}

.products .box-container .box .name{
   font-size: 2rem;
   margin:1rem 0;
   color:var(--black);
}

.products .box-container .box .flex{
   display: flex;
   align-items: center;
   gap:1rem;
}

.products .box-container .box .flex .price{
   margin-right: auto;
   font-size: 2.5rem;
   color:var(--black);
}

.products .box-container .box .flex .price span{
   font-size: 1.8rem;
   color:var(--light-color);
}

.products .box-container .box .flex .qty{
   padding:1rem;
   font-size: 1.8rem;
   border:var(--border);
   color:var(--black);
   width: 7rem;
}

.products .box-container .box .flex .fa-edit{
   width: 5rem;
   background-color: var(--yellow);
   color:var(--black);
   cursor: pointer;
   height: 4.5rem;
   font-size: 2rem;
   border:var(--border); 
}

.products .box-container .box .flex .fa-edit:hover{
   background-color: var(--black);
   color:var(--white);
}

.products .box-container .box .sub-total{
   margin-top: 1rem;
   font-size: 1.7rem;
   color:var(--light-color);
}

.products .box-container .box .sub-total span{
   color:var(--black);
}

.products .box-container .box .fa-times{
   font-size: 2rem;
   background-color: var(--red);
   color:var(--white);
   height: 4.5rem;
   position: absolute;
   top:1rem; right:1rem;
   width: 4.5rem;
   line-height: 4.3rem;
   height: 4.5rem;
   cursor: pointer;
   border:var(--border);
}

.products .box-container .box .fa-times:hover{
   background-color: var(--black);
}

.products .more-btn{
   margin-top: 2rem;
   text-align: center;
}

.products .cart-total{
   border:var(--border);
   padding:1rem 2rem;
   margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: center;
}

.products .cart-total p{
   margin-right: auto;
   font-size: 2rem;
   color:var(--light-color);
}

.products .cart-total p span{
   color:var(--black);
}

.products .cart-total .btn{
   margin-top: 0;
}
.p-category{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}
.p-category a{
   padding: 1.5rem;
   text-align: center;
   border: var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
   font-size: 2.5rem;
   text-transform: capitalize;
   color: var(--black);
}
.p-category a:hover{
   background-color: #000;
   color: var(--white);
   transform: translate(1rem);
}

.quick-view.box{
   margin: 0 auto;
   max-width: 40rem;
   border: var(--border);
   padding: 2rem;
}
.quick-view.box.image{
   width: 100%;
   height: 30rem;
   object-fit: contain;
   margin-bottom: 1rem;

}
.quick-view.box .cat{
   font-size: 1.8rem;
   color: var(--light-color);

}
.quick-view.box.cat:hover{
   text-decoration: underline ;
   color: #000033;
}
.about{
   background-image: url(../images/bg/mission-background-image.png);
background-size: cover;
}


.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex:1 1 75rem;
}

.about .row .image img{
   width: 100%;
}

.about .row .content{
   flex:1 1 40rem;
   text-align: center;
}

.about .row .content h3{
   font-size: 3rem;
   text-transform: capitalize;
   color:var(--black);
}

.about .row .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:#e74c3c;
}
.steps{
   background-color: #dc143c22;
}

.reviews .slide{
   margin-bottom: 4rem;
   border:var(--border);
   text-align: center;
   padding:2rem;
}

.reviews .slide img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews .slide p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

.reviews .slide .stars{
   margin-top: .5rem;
}

.reviews .slide .stars i{
   font-size:1.7rem;
   color:var(--yellow);
}

.reviews .slide h3{
   font-size: 2rem;
   color:var(--black);
   margin-top: 1.5rem;
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.contact .row .image{
   flex:1 1 40rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   border:var(--border);
   flex:1 1 40rem;
   padding:2rem;
   text-align: center;
}

.contact .row form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.contact .row form .box{
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   margin:.5rem 0;
}

.contact .row form textarea{
   height: 15rem;
   resize: none;
}

.steps .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.steps .box-container .box{
   text-align: center;
   padding:2rem;
   border:var(--border);
}

.steps .box-container .box img{
   height: 15rem;
   margin-bottom: 1rem;
   width: 100%;
   object-fit: contain;
}

.steps .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
   text-transform: capitalize;
}

.steps .box-container .box p{
   font-size: 1.6rem;
   color:var(--light-color);
   line-height: 2;
}

.search-form form{
   display: flex;
   gap:1rem;
}

.search-form form input{
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   border:var(--border);
   color:var(--black);
}

.search-form form button{
   width: 6rem;
   font-size: 2rem;
   background-color: var(--black);
   color:var(--white);
   cursor: pointer;
}

.search-form form button:hover{
   background-color: var(--yellow);
   color:var(--black);
}


.Loginbox{
   width:420px;
   height: 520px;
   background: #000;
   color: #fff;
   top: 80%;
   left:50%;
   position: absolute;
   transform: translate(-50%,-50%);
   box-sizing: border-box;
   padding:70px 30px;

}

.user{
   width:100px;
   height:100px;
   border-radius: 50%;
   position: absolute;
   top:-50px;
   left:calc(50% - 50px);
}

h1{
   margin:0;
   padding:0 0 20px;
   text-align: center;
   font-size: 22px;
}

.Loginbox h2{
   margin: 0;
   padding: 0;
   font-weight: bold;
}

.Loginbox input{
   width:100%;
   margin-bottom: 20px;
}

.Loginbox input[type = "text"],input[type = "password"] {
   border:none;
   border-bottom:1px solid #fff;
   background: transparent;
   outline:none;
   height:40px;
   color:#fff;
   font-size: 16px;
}

.Loginbox input[type = "submit"] {
   border:none;
   border-radius: 20px;
   background: #fb2525;
   outline:none;
   height:40px;
   color:#fff;
   font-size:18px;

}

.Loginbox input[type = "submit"]:hover{
   cursor:pointer;
   background: #ffc107;
   color:#fff;

}

.Loginbox a{
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color:darkgrey;

}

.Loginbox a:hover{

   color:#ffc107;
}


.form-container form{
   border:var(--border);
   margin:0 auto;
   max-width: 50rem;
   padding:2rem;
   text-align: center;
   
}

.form-container form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: uppercase;
   margin-bottom: 1rem;
}

.form-container form .box{
   margin:.7rem 0;
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
}

.form-container form p{
   margin-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.form-container form p a{
   color:var(--black);
}

.form-container form p a:hover{
   text-decoration: underline;
}



.user-profile .box{
   border: var(--border);
   padding: 2rem;
   border: var(--border);
   max-width: 50rem;
   margin: 0 auto;
   
}


.user-profile .box img{
   width: 100%;
   height: 20rem;
   object-fit: contain;
   margin-bottom: 1rem;
}

.user-profile .box p{
   padding:1rem 0;
   line-height: 1.5;
   font-size: 2rem;
}

.user-profile .box p span{
   color:var(--black);
}

.user-profile .box p i{
   margin-right: 1rem;
   color:var(--light-color);
}

.user-profile .box .address{
   margin-top: 1rem;
}



.checkout form{
   max-width: 50rem;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
}

.checkout form .cart-items{
   background-color: var(--black);
   padding:2rem;
}

.checkout form .cart-items h3{
   font-size: 2.5rem;
   color:var(--white);
   text-transform: capitalize;
   margin-bottom: 2rem;
}

.checkout form .cart-items p{
   display: flex;
   gap:1.5rem;
   align-items: center;
   justify-content: space-between;
   margin:1rem 0;
   line-height: 1.5;
   font-size: 2rem;
}

.checkout form .cart-items p .name{
   color:var(--white);
}

.checkout form .cart-items p .price{
   color:var(--yellow);
}

.checkout form .cart-items .grand-total{
   background-color:var(--white);
   padding:1rem;
}

.checkout form .cart-items .grand-total .name{
   color:var(--black);
}

.checkout form .cart-items .grand-total .price{
   color:var(--red);
}

.checkout form .user-info h3{
   font-size: 2.5rem;
   margin: 2rem 0;
   color:var(--black);
   text-transform: capitalize;
}

.checkout form .user-info p{
   line-height: 1.5;
   font-size: 2rem;
   margin:1rem 0;
}

.checkout form .user-info p span{
   color:var(--black);
}

.checkout form .user-info p i{
   color:var(--light-color);
   margin-right: .7rem;
}

.checkout form .user-info .box{
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   color:var(--black);
   font-size: 1.8rem;
   margin-top: 2rem;
}

.checkout form .order-btn{
   margin-top: 2rem;
   width: 100%;
   background-color: var(--black);
   color:var(--white);
}
.orders{
   background-color: #dc143c22;
}
.orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.orders .box-container .box{
   border:var(--border);
   padding:1rem 2rem;
}

.orders .box-container .box p{
   font-size: 2rem;
   color:var(--light-color);
   line-height: 2;
}

.orders .box-container .box p span{
   color:var(--black);
}

.food-search{
   background-image: url(../images/bg.jpg);
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 0 0;
}

.food-search input[type="search"]{
   width: 50%;
   padding: 1%;
   font-size: 1rem;
   border: none;
   border-radius: 5px;
}
.order{
   width: 60%;
   margin: 0 ;
}
.input-responsive{
   width: 100%;
   padding: 1%;
   margin-bottom: 3%;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
}
.order-label{
   margin-bottom: 1%; 
   font-weight: bold;
   font-size: 2rem;
}



.food-menu-desc{
   width: 70%;
   float: left;
   margin-left: 8%;
}

.container{
   width: 100%;
   margin: 0 auto;
   padding: 1%;}
   
.text-center{
      text-align: center;
  }
.text-white{
   color:#000033;
}
.food-menu-img{
   width: 20%;
   float: left;
}

.img-responsive{
   width: 100%;
}
.img-curve{
   border-radius: 15px;
}
fieldset{
      border: 1px solid white;
      margin: 5%;
      padding: 3%;
      border-radius: 5px;
}
  
  
h2{
   color: black;
   font-size: 3rem;
   margin-bottom: 2%;
}

.footer{
   background:#282727;
   padding:1rem 7%;
}

.footer .box-container{
   display: flex;
   flex-wrap: wrap;
}

.footer .box-container .box{
   flex:1 1 25rem;
   margin:2rem;
}

.footer .box-container .box h3{
   font-size: 2.5rem;
   color:#ff0157;
   font-style: italic;
   font-weight: bold;
   padding:1rem 0;
   font-weight: normal;
}

.footer .box-container .box p{
   font-size: 1.7rem;
   color:#eee;
   padding:1rem 0;
}

.footer .box-container .box a{
   font-size: 1.7rem;
   color:#eee;
   padding:1rem 0;
   display: block;
   transition: .2s linear;
}

.footer .box-container .box a:hover{
   color: #fed330;
   transition: .2s linear;
}

.footer .box-container .box p i{
   padding-right: .5rem;
   color:var(--yellow);
   transition: .2s linear;
}
.footer .box-container .social a{
   display: inline;
   padding: 1%;
   font-size: 500%;
}

.footer .credit{
   font-size: 2rem;
   text-align: center;
   border-top: .2rem solid rgba(255,255,255,.7);
   padding:2rem 1rem;
   font-weight: normal;
   letter-spacing: .1rem;
   color:#fff;
}

.footer .credit span{
   color:var(--yellow);
}

.loader{
   position: fixed;
   top:0; left:0; right:0; bottom: 0;
   background-color: var(--white);
   z-index: 10000;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loader img{
   width: 35rem;
}

/*nevigation bar shadow*/
.header{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
   border-bottom: none;
}

/*searching form and
      search button*/

.form-control{
   margin-left: 30px;
   padding: 10px;
   border-radius: 4px;
   font-size: 15px;
   padding-right: 100px;

}

.search-btn{
   padding: 9px;
   font-size: 15px;
   border-style: none;
   border-radius: 4px;
   margin-right: 90px;
   background-color: #222;
   color: #fff;
}

.search-btn:hover{
   background-color: yellow;
  color: white;
}


.contact
{
   position: relative;
   min-height: 100vh;
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /*background: url(../images/bg.jpg);*/
   /*background: url(../images/bg.jpg);*/
   background-size: cover;
}
.contact .content
{
   max-width: 100%;
   text-align: center;
}
.contact .content h2
{
   font-size: 50px;
   font-weight: 500;
   color: #fff;
}
.contact .content p
{
   font-weight: 600;
   color: #fff;
}
.container
{
   width: 100%;
   display: flex;
   justify-content: left;
   align-items: center;
   margin-top: 50px;
}
.container .contactInfo
{
   width: 40%;
   display: flex;
   flex-direction: column;
}
.container .contactInfo .box
{
   position: relative;
   padding: 30px 0;
   display: flex;
}
.container .contactInfo .box .icon
{
   min-width: 60px;
   height: 60px;
   background: #fff;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;
}
.container .contactInfo .box .text
{
   display: flex;
   margin-left: 10px;
   font-size: 18px;
   color: #fff;
   flex-direction: column;
   font-weight: 300;
}
.container .contactInfo .box .text h3
{
   font-weight: 500;
   color: #00bcd4;
}
.contactForm
{
   width: 40%;
   padding: 40px;
   background: rgba(255,255,255,.4);
}
.contactForm h2{
   font-size: 35px;
   color: #333;
   font-weight: 500;
}
.contactForm .inputBox
{
   position: relative;
   width: 100%;
   margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px slid #333;
   outline: none;
}
.contactForm .inputBox span
{
   position: absolute;
   left: 0;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   pointer-events: none;
   transition: 0.5s;
   color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
   color: #e91e63;
   font-size: 12px;
   transform: transalteY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
   width:100px;
   background: #00bcd4;
   color: #fff;
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;
}

.reset-style, .reset-style * {
   all: revert;
}

@media (max-width: 991px)
{
   .contact
   {
       padding: 50px;
   }
   .container
   {
       flex-direction: column;
   }
   .container .contactInfo 
   {
       margin-bottom: 40px;
   }
   .container .contactInfo
   .contactForm
   {
       width: 100%;
   }
}





@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

   .header .flex .logo{
      font-size: 2rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

}

.update_address{
   display:flex;
   align-items: center;
   flex-wrap: wrap;
   background: white;
   gap:1.5rem;

}

.update_address form{
   border:var(--border);
   flex:1 1 ;
   padding:2rem;
   text-align: center;
   width: 100px;
}

.update_address  form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.update_address  form .box{
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   margin:.5rem 0;
}